*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white ;
}
.header{
  padding: 16px 0;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.navigation{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee ;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
li{
  display: inline-block;
  margin: 14px;
  line-height: 50px;
}
span{
  color: blue;
}
.banner{
  padding: 60px 0;
  text-align: center;
}
.banner-text p{
  margin: 16px;
  line-height: 30px;
}
.project-ideas{
  display: flex;
}
.left{
text-align: right;
margin-right: 16px;
flex-basis: 35%;
}
.right{
  text-align: center;
  margin-left: 16px;
  flex-basis: 65%;
}
.project{
  padding: 60px;
}
.left h2{
  color: Red;
  font-size: 56px;
  font-weight: 700px;
}.
.left p{
  font-size: 16px;
  font-weight: 200px;
}
.right h2{
  font-size: 48px;
  text-align: left;
  color:#1363DF; 
}
.services-items{
  display: flex;
}
.services{
  margin: 20px;
}
.item-1{
  background-color: #CDF0EA;
}
.item-2{
  background-color:#F6C6EA ;
}
.item-3{
  background-color:#FAF4B7;
}
.item-3, .item-2, .item-1{
  margin: 6px;
  padding: 26px;
}
.services-items img{
  margin-bottom: 20px;
}
.footer{
  background-color:#1B2430 ;
  margin: 18px 0;
}
.copyright{
  color: white;
}
.copyright p{
  text-align: center;
  padding: 16px;
  line-height:30px;
  letter-spacing: 2px;
}
.copyright p span{
  color: red;
  letter-spacing: 3px;
}